# add this to the end of your .bashrc
# to run automatically on login
#
if [ ! -f /var/run/lock/first-boot ]; then
	echo "Running first-boot scripts."
	if [ ! -d $HOME/automate ]; then
		git clone https://github.com/angryelectron/automate $HOME/automate
		cd automate
	else
		cd automate
		git pull
	fi
	sudo ./first-boot.sh
fi
